.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: #3d3d3d;
  padding: 20px;
  color: rgb(250, 192, 0);
}

.navbar a {
  text-decoration: none;
  color: rgb(250, 250, 250);
}

.navbarDark  {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: #ffffff;
  padding: 20px;
  color: rgb(192, 30, 30);
}

.navbarDark a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.icon-darkMode {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.btn{
  font-size: 2.5rem;
  border: none;
  margin-right: .25rem;
}

.icon-darkMode h3 {
  font-weight: 500;
  font-style: italic;
}