@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,300;1,300;1,500&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif;
}

.home {
  text-align: center;
  color: #e60303;
  background-color: rgb(247, 247, 247) ;
}

.favHome {
  height: 100vh;
  text-align: center;
  color: #e60303;
  background-color: rgb(247, 247, 247);
}

.titlegallery{
  margin-bottom: 0;
  padding-top: 1rem;
  color: rgba(3, 5, 139, 0.877);
  text-shadow: rgb(45, 65, 250) 1px 0 1rem;
}

.titlegalleryDark{
  margin-bottom: 0;
  padding-top: 1rem;
  text-shadow: rgb(228, 240, 58) 1px 0 1.5rem;
  color: #e22020;
}

.homeDark{
background-color: rgb(10, 10, 10);
text-align: center;
}

.favHomeDark{
  height: 100vh;
  text-align: center;
  background-color: rgb(10, 10, 10);
}